<div class="col-md-6 col-md-offset-3">
<form class="form-signin" (ngSubmit)="loginForm.valid && login()" novalidate [formGroup]="loginForm">
  
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group"
    [ngClass]="{
    'has-error': loginForm.submitted && !loginForm.get('email').valid,
    'has-danger': !loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched),
    'has-success': loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)
    }">
  
    <input type="text" placeholder="Email" class="form-control"
      autofocus formControlName="email" required>
  
    <div class="form-control-feedback"
      *ngIf="loginForm.get('email').errors && ( loginForm.get('email').dirty || loginForm.get('email').touched)">
      <p *ngIf="loginForm.get('email').errors.required">Email is required</p>
      <p *ngIf="loginForm.get('email').errors.pattern">Please enter valid email address</p>
    </div>    
  </div>

  <div class="form-group"
    [ngClass]="{
    'has-danger': loginForm.get('password').invalid && ( loginForm.get('password').dirty || loginForm.get('password').touched),
    'has-success': loginForm.get('password').valid && ( loginForm.get('password').dirty ||  loginForm.get('password').touched)
    }">
  
    <input type="password" placeholder="password" class="form-control"
      formControlName="password" required>

    <div class="form-control-feedback"
      *ngIf="loginForm.get('password').errors && ( loginForm.get('password').dirty ||  loginForm.get('password').touched)">
      <p *ngIf="loginForm.get('password').errors.required">Password is required</p>
      <p *ngIf="loginForm.get('password').errors.minlength">Password must be at least 8 characters long</p>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign in</button>

    <div class="info">
      This service is limited to Beta testers. Feel free to add me on <a href="https://www.linkedin.com/in/ulansametov/">LinkedIn</a>, and I will send you credentials.
    </div>
</form>
</div>