<div >
  <div class="body-cover" *ngIf="isAuthenticated">    
    <a class="home-link" routerLink="/bookmarks/" routerLinkActive="active" (click)="scrollTop()">        
        <img class="logo" src="assets/MiGG-logo.png" alt="Logo">
        <!-- <h3>{{title}}</h3> -->
   </a>        
    
  </div>
  <div class="wrapper">
    <login *ngIf="!isAuthenticated"></login>
    <app-header *ngIf="isAuthenticated"></app-header>
    <router-outlet *ngIf="isAuthenticated"></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
