<header>
    <div id="header">      
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
            <a routerLink="/bookmarks/security/0/10" routerLinkActive="active" (click)="scrollTop()">Security</a>
              |
            <a routerLink="/bookmarks/cryptography/0/10" routerLinkActive="active" (click)="scrollTop()">Cryptography</a>
              |
            <a routerLink="/bookmarks/books/0/10" routerLinkActive="active" (click)="scrollTop()">Books</a>                                    
          </span>
        </div>
      </div>      
    </div>
    
  </header>
