/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}
::after, ::before {
  box-sizing: border-box;
}
